/*  ---  Holds the styles for individual pages  ---  */

/* ----- BELIEFS ----- */
.beliefs strong {
    font-weight: 600;
}


/* ----- STAFF ----- */
.staff-items__container,
.officer-items__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 25px;
    row-gap: 50px;
    justify-content: center;
}

.staff-item {
    display: flex;
    gap: 10px;
    width: 48%;
    align-items: center;
}

.staff-item.full {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.staff-item *,
.officer-item * {
    margin: 5px 0;
}

.staff-item__info {
    padding: 10px;
}

.staff-item .position,
.officer-item .position {
    text-transform: uppercase;
    color: var(--primary-red);
    font-weight: 500;
}

.staff-item .phone-email {
    color: var(--medium-grey)
}

.officer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.officer-item.full {
    width: 100%;
}

.officer-item.full img {
    max-width: 800px;
}


/* ----- FAQ ----- */
details.wp-block-details {
    margin: 20px 0;
    background-color: #dddbdb;
    padding: 15px;
    border-radius: 10px;
}

details.wp-block-details p {
    margin-bottom: 0;
}